export(lib.estimate)
export(run.epiConv)
export(run.epiConv.parallel)
export(epiConv.anchor)
export(epiConv.anchor.parallel)
export(epiConv.correct)
export(epiConv.correct.parallel)
export(Smat2snn)
export(epiConv.louvain)
